<div class="account-login section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
        <form class="card login-form" [formGroup]="resetPasswordForm">
          <div class="card-body">
            <div class="title">
              <h3>Reset Your Password</h3>
              <p>Please enter your new password below.</p>
            </div>
            <div class="max-h-80 overflow-y-scroll p-3">
              <div class="form-group input-group">
                <label for="reg-password">Password</label>
                <input
                  class="form-control"
                  type="password"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      f.password.errors &&
                      (f.password.touched || f.password.dirty),
                    'is-valid': f.password.valid
                  }"
                />
              </div>

              <div class="row" *ngIf="f.password.errors && f.password.dirty">
                <div class="col-6">
                  <label
                    [ngClass]="{
                      'text-danger': f.password.errors.minlength,
                      'text-success': !f.password.errors.minlength
                    }"
                  >
                    <span
                      [ngClass]="{
                        'bi bi-x-circle': f.password.errors.minlength,
                        'bi bi-check-circle': !f.password.errors.minlength
                      }"
                    ></span>
                    <small> at least 8 characters</small>
                  </label>
                  <label
                    [ngClass]="{
                      'text-danger': f.password.errors.hasSmallCase,
                      'text-success': !f.password.errors.hasSmallCase
                    }"
                  >
                    <span
                      [ngClass]="{
                        'bi bi-x-circle': f.password.errors.hasSmallCase,
                        'bi bi-check-circle': !f.password.errors.hasSmallCase
                      }"
                    ></span>
                    <small> 1 lower case letter </small>
                  </label>
                  <label
                    style="margin-left: 10px"
                    [ngClass]="{
                      'text-danger': f.password.errors.hasNumber,
                      'text-success': !f.password.errors.hasNumber
                    }"
                  >
                    <span
                      class="ms-3"
                      [ngClass]="{
                        'bi bi-x-circle': f.password.errors.hasNumber,
                        'bi bi-check-circle': !f.password.errors.hasNumber
                      }"
                    ></span>
                    <small>1 number</small>
                  </label>
                </div>
                <div class="col-6">
                  <label
                    [ngClass]="{
                      'text-danger': f.password.errors.hasCapitalCase,
                      'text-success': !f.password.errors.hasCapitalCase
                    }"
                  >
                    <span
                      [ngClass]="{
                        'bi bi-x-circle': f.password.errors.hasCapitalCase,
                        'bi bi-check-circle': !f.password.errors.hasCapitalCase
                      }"
                    ></span>
                    <small> 1 upper case letter </small>
                  </label>
                  <label
                    [ngClass]="{
                      'text-danger': f.password.errors.hasSpecialCharacters,
                      'text-success': !f.password.errors.hasSpecialCharacters
                    }"
                  >
                    <span
                      [ngClass]="{
                        'bi bi-x-circle':
                          f.password.errors.hasSpecialCharacters,
                        'bi bi-check-circle':
                          !f.password.errors.hasSpecialCharacters
                      }"
                    ></span>
                    <small> 1 special character </small>
                  </label>
                </div>
              </div>

              <!-- Confirm Password field -->
              <div class="form-group input-group">
                <label for="reg-confirm-password">Confirm Password</label>
                <input
                  class="form-control"
                  type="password"
                  formControlName="confirmPassword"
                  [ngClass]="{
                    'is-invalid':
                      f.confirmPassword.errors &&
                      (f.confirmPassword.touched || f.confirmPassword.dirty),
                    'is-valid': f.confirmPassword.valid
                  }"
                />
                @if ( f.confirmPassword.errors?.mustMatch) {
                <span class="text-danger">Passwords must match.</span>
                }
              </div>
            </div>

            <button
              class="btn btn-primary"
              type="button"
              (click)="onSubmit()"
              [disabled]="resetPasswordForm.invalid"
            >
              <ng-container *ngIf="isLoading; else btnText">
                <spinner></spinner>
              </ng-container>
              <ng-template #btnText>
                <span>Reset Password</span>
              </ng-template>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
