.add-an-ad {
  padding: 50px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  .card {
    height: 150px;
    width: 200px;
    position: relative;
  }

  input[type="radio"] {
    // Remove default radio button styles
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    box-shadow: 5px 5px 5px 10px rgba(2, 18, 34, 0.08);
    cursor: pointer;
    outline: none;
  }

  input[type="radio"]:before {
    content: "";
    display: none;
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: #f9fafd;
    border: 1px solid #6476b1;
    border-radius: 50%;
    top: 35px;
    right: 20px;
  }

  input[type="radio"]:after {
    content: "";
    position: absolute;
    display: none;
    height: 13px;
    width: 13px;
    background-color: transparent;
    border-radius: 50%;
    top: 39.5px;
    right: 24.5px;
  }

  input[type="radio"]:hover {
    transform: scale(1.05);
    color: #0167f3;
  }

  input[type="radio"]:checked {
    border: 1px solid #0167f3;
    color: #0167f3;
  }

  input[type="radio"]:checked:after {
    background-color: #0167f3;
  }

  .card label {
    position: absolute;
    margin: 20px;
    cursor: pointer;
  }

  h5 i {
    margin: 0 auto;
    font-size: 58px;
    @media screen and (max-width: 576px) {
      font-size: 48px;
    }
  }

  h5 {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    @media screen and (max-width: 576px) {
      font-size: 16px;
    }
  }

  .selected {
    color: #0167f3;
  }
}

// Step 2

.step_two {
  width: 600px;
  @media screen and (max-width: 576px) {
    width: 100%;
  }
}

input[type="time"] {
  margin-left: 10px;
}

.input-group-append > .btn {
  min-width: 20px;

  &:hover {
    background-color: #0167f3;
  }
}

.breadcrumb-nav {
  margin-bottom: 0;
  border-bottom: none;
}

// Images

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.upload-image {
  position: relative;
  width: 150px;
  height: 150px;
  border: 2px solid #0167f3;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  @media screen and (max-width: 768px) {
    width: 120px;
    height: 120px;
  }
}

.upload-image:hover {
  background-color: #f9b9230e;
}

.upload-image:active {
  background-color: #f9d68f11;
}

.upload-icon {
  width: 100px;
  height: 100px;
  @media screen and (max-width: 768px) {
    width: 80px;
    height: 80px;
  }
}

.upload-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  width: 100px;
  height: 100px;
  color: #0167f3;
  @media screen and (max-width: 768px) {
    font-size: 80px;
    width: 80px;
    height: 80px;
  }
}

.uploaded-image {
  position: relative;
  border-radius: 10px;
  border: 1px solid #748bac;
  width: 150px;
  height: 150px;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    width: 120px;
    height: 120px;
  }
}

.uploaded-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.image-number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 5px;
  right: 5px;
  background-color: #0167f3;
  color: #fff;
  padding: 0 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  // Updated selector below
  .uploaded-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: rgba(35, 31, 31, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  cursor: pointer;
  color: #ff0000;
}

.upload-max-reached {
  cursor: not-allowed;
}
