<div class="container mx-auto p-6 relative">
  <button
    type="button"
    class="absolute -top-1 -right-6 text-red-500 hover:text-red-700 focus:outline-none"
    (click)="closeModal()"
  >
    <i class="bi bi-x-lg text-xl"></i>
  </button>
  <div class="flex justify-between items-center mb-6">
    <div *ngFor="let stepNumber of [1, 2, 3, 4]" class="relative">
      <div
        [ngClass]="{
          'bg-blue-500 text-white': step >= stepNumber,
          'bg-gray-300 text-gray-600': step < stepNumber
        }"
        class="w-12 h-12 rounded-full flex items-center justify-center"
      >
        {{ stepNumber }}
      </div>
      <div
        *ngIf="stepNumber !== 4"
        class="absolute top-1/2 left-full transform -translate-y-1/2 w-full h-1"
        [ngClass]="{
          'bg-blue-500': step >= stepNumber + 1,
          'bg-gray-300': step < stepNumber + 1
        }"
      ></div>
    </div>
  </div>
  <form [formGroup]="productForm" (ngSubmit)="handleNext()">
    <section *ngIf="step === 1" class="space-y-4">
      <h2 class="text-2xl font-semibold mb-4">Step 1: Product Information</h2>

      <div>
        <label class="block text-sm font-medium mb-2" for="name"
          >Product Name</label
        >
        <input
          type="text"
          id="name"
          formControlName="name"
          class="w-full border border-gray-300 rounded-lg p-2"
        />
      </div>
      <div class="mt-2">
        <label class="block text-sm font-medium mb-2" for="brand">Brand</label>
        <input
          type="text"
          id="brand"
          formControlName="brand"
          class="w-full border border-gray-300 rounded-lg p-2"
        />
      </div>
      <div class="mt-2">
        <label class="block text-sm font-medium mb-2" for="category"
          >Category</label
        >
        <select
          id="category"
          formControlName="category"
          class="w-full border border-gray-300 rounded-lg p-2"
        >
          <option *ngFor="let category of categories" [value]="category.name">
            {{ category.name }}
          </option>
        </select>
      </div>
    </section>

    <section class="mx-auto" *ngIf="step === 2">
      <h2 class="text-2xl font-semibold mb-4">Step 2: Product Details</h2>

      <div class="form-group mb-2">
        <label for="price">Price *</label>
        <div class="input-group">
          <input
            type="number"
            class="form-control"
            id="price"
            formControlName="price"
            [ngClass]="{
              'is-invalid':
                productForm.controls['price'].errors &&
                (productForm.controls['price'].touched ||
                  productForm.controls['price'].dirty)
            }"
          />
          <span class="input-group-text">XAF</span>
        </div>
      </div>
      <div class="form-group mb-2">
        <label for="min_installment_price">Minimum Installment Price</label>
        <div class="input-group">
          <input
            type="number"
            class="form-control"
            id="min_installment_price"
            formControlName="min_installment_price"
            [ngClass]="{
              'is-invalid':
                productForm.controls['min_installment_price'].errors &&
                (productForm.controls['min_installment_price'].touched ||
                  productForm.controls['min_installment_price'].dirty)
            }"
          />
          <span class="input-group-text">XAF</span>
        </div>
      </div>

      <div class="block text-sm font-medium mb-2">
        <label for="stock_quantity">Stock Quantity *</label>
        <input
          type="number"
          class="w-full border border-gray-300 rounded-lg p-2"
          id="stock_quantity"
          formControlName="stock_quantity"
          [ngClass]="{
            'is-invalid':
              productForm.controls['stock_quantity'].errors &&
              (productForm.controls['stock_quantity'].touched ||
                productForm.controls['stock_quantity'].dirty)
          }"
        />
      </div>
    </section>

    <section class="step_three mx-auto" *ngIf="step === 3">
      <h2 class="text-2xl font-semibold mb-4">Step 3: Description</h2>
      <form [formGroup]="productForm">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            class="w-full border border-gray-300 rounded-lg p-2"
            rows="4"
            id="description"
            formControlName="description"
            [ngClass]="{
              'is-invalid':
                productForm.controls['description'].errors &&
                (productForm.controls['description'].touched ||
                  productForm.controls['description'].dirty)
            }"
          ></textarea>
        </div>
      </form>
    </section>

    <section class="step_four mx-auto" *ngIf="step === 4">
      <h2 class="text-2xl font-semibold mb-4">Step 4: Image Upload</h2>
      <div class="form-group">
        <label>Add Images (min 2, max 5)</label>
        <div class="container-image__upload">
          <div class="grid grid-cols-2 sm:grid-cols-2 gap-4">
            <div
              class="upload-image"
              [class.upload-max-reached]="uploadedImages.length >= 5"
              (click)="uploadInput.click()"
            >
              <input
                class="upload-input visually-hidden"
                type="file"
                #uploadInput
                accept="image/png, image/jpeg, image/jpg"
                (change)="uploadImage($event)"
              />
              <div class="upload-icon">
                <i class="bi bi-hand-index"></i>
              </div>
            </div>
            <div class="uploaded-image" *ngFor="let image of uploadedImages">
              <img
                [src]="image.url"
                alt="Uploaded Image"
                class="object-contain"
              />

              <div class="delete-icon" (click)="deleteImage(image)">
                <i class="bi bi-x-lg"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>

  <div class="flex justify-between items-center mt-8">
    <button
      *ngIf="step > 1"
      (click)="handlePrevious()"
      class="btn-outline-secondary"
    >
      Prev
    </button>
    <button
      *ngIf="step < 4"
      (click)="handleNext()"
      class="btn btn-outline-primary"
    >
      Next
    </button>
    <button
      *ngIf="step === 4"
      [disabled]="isLoading"
      (click)="handleSubmit()"
      class="btn btn-primary"
    >
      <ng-container *ngIf="isLoading; else buttonText">
        <spinner></spinner>
      </ng-container>
      <ng-template #buttonText>
        <span>Add</span>
      </ng-template>
    </button>
  </div>
</div>
