.modal {
  overflow: scroll;
  z-index: 1056;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* width: auto; */
  height: auto;
  padding: 10px;
}

.modal-role {
  width: 500px;
}

.modal-xl {
  width: 50%;
  height: 80%;
  overflow-y: scroll;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.modal-content {
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-close {
  cursor: pointer;
}

.swal2-title {
  color: #0e0e5e;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.25rem;
}

.swal2-container .swal2-html-container {
  font-size: 1.1rem;
}

.swal2-popup {
  width: auto;
}

.swal2-icon {
  height: 2rem;
  width: 2rem;
  .swal2-icon-content {
    font-size: 2rem;
  }
}

.swal2-confirm,
.swal2-cancel {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0.6rem 1.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: linear-gradient(90deg, #00cc92 0%, #00b0f4 100%);
  color: white;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0.0625rem;
}
