<section class="py-16 bg-neutral">
  <div class="container mx-auto px-4">
    <div class="mx-auto bg-white p-8 rounded-lg shadow-lg">
      <h1
        class="font-heading text-3xl md:text-4xl font-bold text-primary mb-6 text-center"
      >
        À Propos de Nkiapa'Nou
      </h1>
      <div class="prose mx-auto">
        <p class="text-text text-lg">
          Bienvenue chez <strong>Nkiapa'Nou</strong>, votre destination en ligne
          pour découvrir l'authenticité et la richesse des produits africains.
          Notre plateforme met en valeur le savoir-faire des artisans africains
          à travers une sélection soigneusement choisie de bijoux, d'articles de
          décoration, d'épices et de mode. Chez Nkiapa'Nou, nous croyons en la
          préservation des traditions tout en créant des ponts entre l'Afrique
          et le monde. Chaque produit que nous proposons raconte une histoire
          unique et soutient les communautés locales en favorisant un commerce
          équitable et des pratiques durables.
        </p>
      </div>
    </div>
  </div>
</section>
