<div class="mx-auto mt-6">
  <div class="flex justify-between items-center mb-6">
    <h3 class="text-xl sm:text-2xl text-gray-800 font-semibold">
      Mes commandes
    </h3>
  </div>
</div>

<div *ngIf="isLoading" class="text-center my-6">
  <p>Loading orders...</p>
</div>

<div
  *ngIf="!isLoading && !error && orders.length === 0"
  class="text-center my-6"
>
  <div class="flex flex-col items-center justify-center text-center">
    <img
      src="assets/images/empty-state.jpg"
      alt="Aucun élément trouvé"
      class="mb-4 h-32 w-32 sm:h-48 sm:w-48 lg:h-72 lg:w-72 object-contain"
    />
  </div>
</div>

<div
  *ngIf="orders.length > 0"
  class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-6"
>
  <div
    *ngFor="let order of orders"
    class="border rounded-lg shadow-xl p-6 bg-white flex flex-col md:flex-row gap-6 hover:shadow-2xl transition-shadow duration-300 ease-in-out"
  >
    <!-- Product Section -->
    <div class="flex items-center gap-6 md:w-2/3">
      <img
        [src]="
          order.product.images[0]?.image_url ||
          'https://via.placeholder.com/100'
        "
        alt="{{ order.product.name }}"
        class="w-28 h-28 rounded-xl object-cover border-2 border-gray-300 transition-transform duration-300 ease-in-out transform hover:scale-105"
      />
      <div class="w-full">
        <h3
          class="text-xl font-semibold text-[#0167F3] mb-2 hover:text-[#0146b1] truncate"
          title="{{ order.product.name }}"
        >
          {{ order.product.name }}
        </h3>
        <p class="text-sm text-gray-600 mb-1">
          Quantity: <span class="font-semibold">{{ order.quantity }}</span>
        </p>
        <p class="text-sm text-gray-600 mb-1">
          Total Cost:
          <span class="font-semibold"
            >{{ order.total_cost | number : "1.0-0" }} XAF</span
          >
        </p>
        <p class="text-sm text-gray-600 mb-1">
          Installment:
          <span class="font-semibold"
            >{{ order.installment_amount | number : "1.0-0" }} XAF</span
          >
        </p>
      </div>
    </div>

    <!-- Installments Section -->
    <div class="flex gap-4 w-full flex-wrap">
      <div
        *ngFor="let payment of order.order_payments"
        class="flex flex-col items-center justify-between w-full sm:w-1/5 p-4 border-2 border-gray-300 rounded-lg shadow-sm transition-all duration-300 ease-in-out"
      >
        <p class="text-xs font-medium text-gray-700">
          {{ payment.installment_number }}
        </p>
        <p class="text-sm font-semibold text-gray-800">
          {{ payment.amount_paid | number : "1.0-0" }} {{ " XAF" }}
        </p>

        <!-- Date Section -->
        <p
          class="text-xs text-gray-600 mt-2 truncate"
          *ngIf="payment.status === 'success'"
        >
          Date: {{ payment.payment_date | date : "shortDate" }}
        </p>
        <p
          class="text-xs text-gray-600 mt-2 truncate"
          *ngIf="payment.status !== 'success'"
        >
          Due Date: {{ payment.due_date | date : "shortDate" }}
        </p>

        <!-- Progress Bar -->
        <span
          class="w-full h-2 rounded-sm mt-2"
          [ngStyle]="{
            backgroundColor:
              payment.status === 'success' ? '#039422' : '#ffda33'
          }"
        ></span>
      </div>
    </div>

    <!-- User Info Section (Avatar and Name) -->
    <!-- <div class="flex items-center mt-4">
      <div
        class="w-10 h-10 rounded-full overflow-hidden border-2 border-gray-300"
      >
        <img
          *ngIf="order.user.profile_url"
          [src]="order.user.profile_url"
          alt="{{ order.user.name }}"
          class="w-full h-full object-cover"
        />
        <div
          *ngIf="!order.user.profile_url"
          class="flex items-center justify-center w-full h-full bg-gray-300"
        >
          <svg
            width="30"
            height="30"
            viewBox="0 0 25 24"
            fill="#343C54"
            xmlns="http://www.w3.org/2000/svg"
            class="text-gray-600"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16.4337 6.35C16.4337 8.74 14.4937 10.69 12.0937 10.69L12.0837 10.68C9.69365 10.68 7.74365 8.73 7.74365 6.34C7.74365 3.95 9.70365 2 12.0937 2C14.4837 2 16.4337 3.96 16.4337 6.35ZM14.9337 6.34C14.9337 4.78 13.6637 3.5 12.0937 3.5C10.5337 3.5 9.25365 4.78 9.25365 6.34C9.25365 7.9 10.5337 9.18 12.0937 9.18C13.6537 9.18 14.9337 7.9 14.9337 6.34Z"
              fill="#343C54"
            />
            <path
              d="M12.0235 12.1895C14.6935 12.1895 16.7835 12.9395 18.2335 14.4195V14.4095C20.2801 16.4956 20.2739 19.2563 20.2735 19.4344L20.2735 19.4395C20.2635 19.8495 19.9335 20.1795 19.5235 20.1795H19.5135C19.0935 20.1695 18.7735 19.8295 18.7735 19.4195C18.7735 19.3695 18.7735 17.0895 17.1535 15.4495C15.9935 14.2795 14.2635 13.6795 12.0235 13.6795C9.78346 13.6795 8.05346 14.2795 6.89346 15.4495C5.27346 17.0995 5.27346 19.3995 5.27346 19.4195C5.27346 19.8295 4.94346 20.1795 4.53346 20.1795C4.17346 20.1995 3.77346 19.8595 3.77346 19.4495L3.77345 19.4448C3.77305 19.2771 3.76646 16.506 5.81346 14.4195C7.26346 12.9395 9.35346 12.1895 12.0235 12.1895Z"
              fill="#343C54"
            />
          </svg>
        </div>
      </div>
      <div class="ml-3">
        <p class="text-sm font-semibold text-gray-800">{{ order.user.name }}</p>
      </div>
    </div> -->
  </div>
</div>
